.bookCard {
    display: flex;
    flex-direction: column;
    width: 156px;
  }
  
  .bookCover {
    width: 100%;
    aspect-ratio: 0.75;
    object-fit: contain;
  }
  
  .bookTitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 19px;
    color: #46383a;
    font-family: 'Annapurna SIL', sans-serif;
  }
  
  .bookAuthor {
    font-size: 14px;
    font-weight: 400;
    margin-top: 19px;
    color: #46383a;
    font-family: 'Annapurna SIL', sans-serif;
  }
  
  @media (max-width: 991px) {
    .bookCard {
      width: 100%;
      max-width: 156px;
    }
  }